.faq {
	padding: 0 1.5rem;
	margin-bottom: 4rem;

	&-title {
		text-align: center;
		margin-bottom: 1rem;
	}

	&-text {
		text-align: center;
		margin-bottom: 2rem;
	}

	.question {
		border-bottom: solid 1px $gray-opacity;
	}

	.question[data-open="true"] {
		.answer {
			display: block;
			visibility: visible;
		}

		.arrow-up {
			display: block;
		}

		.arrow-down {
			display: none;
		}
	}

	.question-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.question-title {
		padding: 1.5rem 0;
		font-size: 0.9rem;
	}

	.answer {
		margin-bottom: 1.5rem;
		display: none;
		visibility: none;
	}

	.arrow-up {
		display: none;
	}

	.arrow-down {
		display: block;
	}

	button {
		background-color: $soft-blue;
		border: solid 2px $soft-blue;
		height: 2.75rem;
		width: 6rem;
		border-radius: 4px;
		font-weight: 600;
		color: $white;
		margin-top: 2rem;
		text-align: center;
		display: block;
		margin: 2rem auto 0;
	}
}

@media (min-width: 900px) {
	.faq {
		&-text {
			@include text-width;
		}

		.questions-container {
			max-width: 40rem;
			margin-left: auto;
			margin-right: auto;
		}

		.question:hover {
			cursor: pointer;
		}

		.question:hover .question-title {
			color: $soft-red;
		}

		.question:first-of-type {
			border-top: solid 1px $gray-opacity;
		}

		.question-title {
			font-size: 1.1rem;
		}

		button:hover {
			background-color: transparent;
			color: $soft-blue;
		}
	}
}
