.hero {
	padding: 2rem 0;

	&-img {
		padding: 2rem 1rem;
		margin-bottom: 1rem;
		position: relative;

		img {
			z-index: 50;
			position: relative;
		}

		// &::after {
		// 	content: "";
		// 	display: block;
		// 	width: 80vw;
		// 	height: 11rem;
		// 	background-color: $soft-blue;
		// 	position: absolute;
		// 	top: 100px;
		// 	right: 0;
		// 	border-bottom-left-radius: 100px;
		// 	z-index: 30;
		// }
	}

	&-content {
		padding: 0 1.5rem;
		text-align: center;
	}

	&-title {
		margin-bottom: 1rem;
	}

	&-text {
		margin-bottom: 1rem;
	}

	&-buttons {
		display: flex;
		gap: 1.5rem;
	}

	&-btn {
		width: 100%;
		border: none;
		height: 2.75rem;
		font-weight: 600;
		border-radius: 4px;
	}

	.chrome-btn {
		color: $white;
		background-color: $soft-blue;
	}

	.firefox-btn {
		color: $grayish-blue;
		background-color: $soft-grey;
		box-shadow: $shadow;
	}
}

@media (min-width: 900px) {
	.hero {
		position: relative;

		// &::after {
		// 	content: "";
		// 	display: block;
		// 	width: 30vw;
		// 	height: 15rem;
		// 	background-color: $soft-blue;
		// 	position: absolute;
		// 	top: 200px;
		// 	right: 0;
		// 	border-bottom-left-radius: 100px;
		// 	z-index: 30;
		// }

		.container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}

		&-img {
			grid-column: 2 / -1;
			grid-row: 1 / 2;
			padding: 0;
			margin: 0;

			img {
				width: 100%;
			}
		}

		&-content {
			text-align: left;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}

		&-title {
			font-size: 2.75rem;
		}

		&-text {
			max-width: 28rem;
			font-size: 1rem;
		}

		&-btn {
			width: 10rem;
		}
	}
}
